Repository JGieseWeb/vite-boilerplate: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --chache, stylelint --fix, prettier --write

.lintstagedrc.json:

{
  "*.js": "eslint --fix --chache",
  "*.css": "stylelint --fix",
  "*.{js,css,html,json,md,svg}": "prettier --write"
}

🗒 Add README.md
  .husky/README.md
Due: prettier --write

➕ Add Typescript
  package-lock.json
  package.json
Due: prettier --write

♻ convert js in ts
  .lintstagedrc.json
  index.html
  main.ts
Due: prettier --write

➕ Add eslint typescript support
  .eslintrc.json
  package-lock.json
  package.json
Due: prettier --write

📁 add tsconfig
  index.html
  src/main.ts
  src/style.css
  tsconfig.json
Due: stylelint --fix, prettier --write

:label: add note types
  .eslintrc.json
  package-lock.json
  package.json
  src/server.ts
  tsconfig.json
Due: prettier --write

:see_no_evil: Add stylelintignore
  .stylelintignore
  index.html
  package-lock.json
  package.json
  src/app/main.ts
  src/app/style.css
  tsconfig.server.json
Due: stylelint --fix, prettier --write

:heavy_plus_sign: add viteconfig.js istall react
  package-lock.json
  package.json
  tsconfig.json
  viteconfig.js
Due: eslint --fix --chache, prettier --write

:heavy_plus_sign: did some things
  .eslintcache
  .lintstagedrc.json
  index.html
  src/app/global.css
Due: stylelint --fix, prettier --write

:wrench: remove style file & remove favicon
  src/app/main.ts
  src/app/main.tsx
Due: none

:sparkles: Integrate react
  src/app/App.module.css
  src/app/App.tsx
  src/app/global.css
  src/app/logo.svg
Due: stylelint --fix, prettier --write

:hammer: move tsc to test script
  package.json
Due: prettier --write

:label: Add expict type
  src/app/App.tsx
Due: none

:recycle: Use querySelector
  src/app/main.tsx
Due: none

:sparkles: add react router dependencies and structure App.tsx
  package-lock.json
  package.json
  src/app/App.tsx
Due: prettier --write

:heavy_plus_sign: Add Express + storybook
  .eslintcache
  .storybook/main.js
  .storybook/preview.js
  package-lock.json
  package.json
  src/stories/Button.stories.tsx
  src/stories/Button.tsx
  src/stories/Header.stories.tsx
  src/stories/Header.tsx
  src/stories/Introduction.stories.mdx
  src/stories/Page.stories.tsx
  src/stories/Page.tsx
  src/stories/assets/code-brackets.svg
  src/stories/assets/colors.svg
  src/stories/assets/comments.svg
  src/stories/assets/direction.svg
  src/stories/assets/flow.svg
  src/stories/assets/plugin.svg
  src/stories/assets/repo.svg
  src/stories/assets/stackalt.svg
  src/stories/button.css
  src/stories/header.css
  src/stories/page.css
Due: eslint --fix --chache, stylelint --fix, prettier --write

:bug: ignore a prettier issue
  src/stories/Page.tsx
Due: none

:heavy_plus_sign: add @types express
  package-lock.json
  package.json
Due: prettier --write

:fire: remove stories file
  src/stories/Button.stories.tsx
  src/stories/Button.tsx
  src/stories/Header.stories.tsx
  src/stories/Header.tsx
  src/stories/Introduction.stories.mdx
  src/stories/Page.stories.tsx
  src/stories/Page.tsx
  src/stories/assets/code-brackets.svg
  src/stories/assets/colors.svg
  src/stories/assets/comments.svg
  src/stories/assets/direction.svg
  src/stories/assets/flow.svg
  src/stories/assets/plugin.svg
  src/stories/assets/repo.svg
  src/stories/assets/stackalt.svg
  src/stories/button.css
  src/stories/header.css
  src/stories/page.css
Due: stylelint --fix, prettier --write

:construction_worker: Add production build
  tsconfig.server.json
  viteconfig.js
Due: eslint --fix --chache, prettier --write

:see_no_evil: ignore eslintcache
  .gitignore
Due: none

:bug: rename globals.css
  src/app/globals.css
Due: stylelint --fix, prettier --write

:hammer: Add scripts
  package.json
Due: prettier --write

:bug: Fix vite.config.js name
  vite.config.js
Due: eslint --fix --chache, prettier --write

:sparkles: add storybook and PORT
  package.json
  src/server.ts
Due: prettier --write

:memo: Add issue&pull-request template
  .github/ISSUE_TEMPLATE/issue-template.md
  .github/PULL_REQUEST_TEMPLATE/pull-request-template.md
Due: prettier --write

:heavy_plus_sign: add tsnode
  package-lock.json
  package.json
Due: prettier --write

:bug: add a space in server:dev
  package.json
Due: prettier --write

:heavy_plus_sign: Add dotenv
  .eslintignore
  .gitignore
  .prettierignore
  .stylelintignore
  package-lock.json
  package.json
  src/server.ts
  vite.config.js
Due: eslint --fix --chache, prettier --write

:ambulance: Add path and app.get
  src/server.ts
Due: none
